<div class="index-container">
    <section>
    <center>
        <img src="/images/beer.png" width=250>
        <button><a href="/beers">Check the Beers!</a></button>
        <button><a href="/random">Check a Random Beer</a></button>
    </center>
    </section>
</div>